*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    background-image: url("../res/images/worldmap.jpg");
}

.maxWidth{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    background-color: white;
    height: 100%;
}
