/* #game{
    margin: 0 auto;
} */

/*https://stackoverflow.com/questions/28683329/how-to-center-bootstrap-columns-when-they-are-an-odd-number
centrovanie neparneho poctu col ale aj ide to aj v inych pripadoch*/
.row.text-center > div {
    display: inline-block;
    float: none;
}

#gameTime{
    font-size: 130%;
}

.container{
    background-color: rgba(255,255,255,0.85);
}



.addImgSide{
    width: auto;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
}

.addImgBot{
    width: auto;
    height: 200px;
    margin: 0 auto;
}