#gametext{
    background-color: black;
}
#start{
    margin-left: 43%;
}
button{
    margin-left: 10%;
}

#gametext{
    color: white;
}

#container1 {
    margin-top: 22%;
    margin-left: 10%;
    width: 10%;
    height: 40%;
    position: absolute;
    
}
#container2 {
    margin-top: 28%;
    margin-left: 3.5%;
    width: 10%;
    height: 24%;
    position: absolute;
    
}
#container3 {
    margin-top: 30%;
    margin-left: 20%;
    width: 15%;
    height: 33%;
    position: absolute;
    
}
#container4 {
    margin-top: 21%;
    margin-left: 36%;
    width: 25%;
    height: 30%;
    position: absolute;
    
}
#container5 {
    margin-top: 8%;
    margin-left: 58%;
    width: 35%;
    height: 19%;
    position: absolute;
    
}
#container6 {
    margin-top: 20%;
    margin-left: 60%;
    width: 35%;
    height: 18%;
    position: absolute;
    
}
#container7 {
    margin-top: 13%;
    margin-left: 17%;
    width: 17%;
    height: 25%;
    position: absolute;
    
}
#container8 {
    margin-top: 6%;
    margin-left: 33%;
    width: 20%;
    height: 26%;
    position: absolute;
    
}
  
/*body {
  position: absolute;
}
*/
#win{
  margin-left: 17%;
  margin-top: 12%;
  position: absolute;
  font-size: 90px;
  color: red;
  z-index: 2;
}

#demotry{
    margin-left: 17%;
    
    position: absolute;
    font-size: 50px;
    color: red;
    background-color: black;
    z-index: 2;
}





#borders {
    
    width: 75vw;
    height: 40vw;
    background-size: cover;
    position: relative;
    /* background-image: url("../"); */
    background-repeat: no-repeat;
  
}
#tt{
    position: absolute;
    height: 21.5vw;
    width: 14vw;
    
    top: 50vw;
    left: 0vw;
    
    
}
#ba{
    position: absolute;
    height: 12vw;
    width: 9vw;
    
    top: 50vw;
    left: 17vw;
    
}
#bb{
    position: absolute;
    height: 16.9vw;
    width: 25.5vw;
    
    top: 50vw;
    left: 30vw;
    
}
#tn{
    position: absolute;
    height: 16vw;
    width: 18.30vw;
    
    top: 45vw;
    left: 60vw;
    
}
#za{
    position: absolute;
    height: 17vw;
    width: 21.5vw;
    
    top: 75vw;
    left: 0vw;
    
}
#nr{
    position: absolute;
    height: 19vw;
    width: 17.8vw;
    
    top: 74vw;
    left: 65vw;
    
}
#pe{
    position: absolute;
    height: 13vw;
    width: 33.25vw;
    
    top: 75vw;
    left: 25vw;
    
}
#ke{
    position: absolute;
    height: 13.25vw;
    width: 27.5vw;
    
    
    top: 60vw;
    left: 55vw;
    
}
h2 {
    margin-left: 45%;
    display: inline-block;
    margin-bottom: 2%;
    color: red;
}

aside{
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    
}

#timer{
    position: relative;
    margin-left: 45%;
    font-size: 30px;
    color: red;
}


.ui-draggable-dragging{
    z-index: 99999;
}


